# images
*.png binary
*.PNG binary
*.jpg binary
*.JPG binary
*.jpeg binary
*.JPEG binary
*.gif binary
*.GIF binary
*.ico binary
*.ICO binary
*.ttf binary
*.TTF binary
# Audio and video files
*.mov binary
*.MOV binary
*.mp4 binary
*.MP4 binary
*.mp3 binary
*.MP3 binary
*.flv binary
*.FLV binary
*.fla binary
*.FLA binary
*.swf binary
*.SWF binary
# compressed files
*.gz binary filter=lfs
*.GZ binary filter=lfs
*.tgz binary filter=lfs
*.TGZ binary filter=lfs
*.zip binary filter=lfs
*.ZIP binary filter=lfs
*.7z binary filter=lfs
*.7Z binary filter=lfs
# MS Word
*.docx binary
*.DOCX binary
*.docm binary
*.DOCM binary
*.dotx binary
*.DOTX binary
*.dotm binary
*.DOTM binary
*.docb binary
*.DOCB binary
# MS Excel
*.xlsx binary
*.XLSX binary
*.xlsm binary
*.XLSM binary
*.xltx binary
*.XLTX binary
*.xltm binary
*.XLTM binary
# MS PowerPoint
.pptx binary
.PPTX binary
.pptm binary
.PPTM binary
.potx binary
.POTX binary
.potm binary
.POTM binary
.ppam binary
.PPAM binary
.ppsx binary
.PPSX binary
.ppsm binary
.PPSM binary
.sldx binary
.SLDX binary
.sldm binary
.SLDM binary
# MS Visio
*.vsd binary
*.VSD binary
# MS Publisher
*.pub binary
*.PUB binary
*.xps binary
*.XPS binary
# Open Office
*.odt binary
*.ODT binary
*.ods binary
*.ODS binary
*.odp binary
*.ODP binary
# Altium
*.SchDoc binary
*.PcbDoc binary
*.Harness binary
*.PCBDwf binary
*.Outhob binary
*.cam binary
*.DXPPrf binary
*.DsnWrk binary
*.PcbLib binary
*.SchLib binary
*.PrjPcb binary
*.DsnWrk binary
*.DesWrk binary
*.Stackup binary
*.BomDoc text eol=crlf
*.OutJob text eol=crlf
# SolidWorks
*.sldprt binary
*.SLDPRT binary
*.sldasm binary
*.SLDASM binary
*.stp binary
*.STP binary
*.STEP binary
*.step binary