  include *.txt
  include QScreenCast/countdown.gif
  recursive-include documentation *.pptx
  recursive-include examples *.py
  recursive-include qscreencast *.gif
  recursive-include requirements *.txt
  recursive-include tests *.py
